html {
  height: -webkit-fill-available;
}
  
* {
  transition-duration: 150ms;
  font-family: 'Varela Round';
  font-size: 22px;
  color: hsl(0, 0%, 60%);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  /* mobile viewport bug fix */
  height: -webkit-fill-available;
}
  
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr auto;
  position: relative;

  width: 100%;
  height: 100%;
}
  
.change-image {
  background-image: url('images/grinding.png');
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  grid-row: 2;
  grid-column: 1;
}
  
.myVideo
{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  top: 0;
  left: 0;
}

.header {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1;
  text-align: center;
  line-height: 100%;
  grid-row: 1;
  grid-column: 1;
}

.header h3 {
  margin: auto;
  vertical-align: middle;
  line-height: 50px;
}

.white-space {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 20px;
  z-index: 2;
  grid-row: 3;
  grid-column: 1;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 50px;
}

.buy-button {
  margin: auto;
  height: 54px;
  width: 100%;
  border-radius: 20px;
  background-color: rgb(246, 246, 246);
  color: hsla(0, 0%, 0%, .5);
  border-width: 0;
}

.buy-button:hover {
  background-color: rgb(233, 233, 233);
}



/* MAIN */
/* =============================================== */
.rad-label {
  display: flex;
  align-items: center;

  border-radius: 20px;
  padding: 14px 16px;
  margin: 10px 0;

  cursor: pointer;
  transition: .3s;
}

.rad-label:hover,
.rad-label:focus-within {
  background: hsla(0, 0%, 80%, .14);
}

.rad-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.rad-design {
  width: 22px;
  height: 22px;
  border-radius: 100px;

  background: grey;
  position: relative;
}

.rad-design::before {
  content: '';

  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;

  background: hsl(0, 0%, 90%);
  transform: scale(1.1);
  transition: .3s;
}

.rad-input:checked+.rad-design::before {
  transform: scale(0);
}

.rad-text {
  color: hsl(0, 0%, 60%);
  margin-left: 14px;
  letter-spacing: 3px;
  /*text-transform: uppercase;*/
  font-size: 18px;
  font-weight: 900;

  transition: .3s;
}

.rad-input:checked~.rad-text {
  color: hsl(0, 0%, 40%);
}


/* ABS */
/* ====================================================== */
.abs-site-link {
  position: fixed;
  bottom: 40px;
  left: 20px;
  color: hsla(0, 0%, 0%, .5);
  font-size: 16px;
}

.top-rad {
  margin-top: 0;
}
