body {
  margin: 0;
}

* {
  transition-duration: 150ms;
  font-family: 'Varela Round';
  font-size: 22px;
  color: hsl(0, 0%, 60%);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 350px;
  grid-template-rows: auto;


  width: 100vw;
  height: 100vh;
}

.change-image {
  background-image: url('images/caps.png');
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.white-space {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 20px;
}


.buy-button {
  margin: auto;
  height: 54px;
  width: 100%;
  border-radius: 20px;
  background-color: rgb(246, 246, 246);
  color: hsla(0, 0%, 0%, .5);
  border-width: 0;
}

.buy-button:hover {
  background-color: rgb(233, 233, 233);
}


/* DEFAULTS */
/* =============================================== */
body {
  display: grid;
  place-content: center;

  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;

  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', sans-serif;*/
}


/* MAIN */
/* =============================================== */
.rad-label {
  display: flex;
  align-items: center;

  border-radius: 20px;
  padding: 14px 16px;
  margin: 10px 0;

  cursor: pointer;
  transition: .3s;
}

.rad-label:hover,
.rad-label:focus-within {
  background: hsla(0, 0%, 80%, .14);
}

.rad-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.rad-design {
  width: 22px;
  height: 22px;
  border-radius: 100px;

  background: grey;
  position: relative;
}

.rad-design::before {
  content: '';

  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;

  background: hsl(0, 0%, 90%);
  transform: scale(1.1);
  transition: .3s;
}

.rad-input:checked+.rad-design::before {
  transform: scale(0);
}

.rad-text {
  color: hsl(0, 0%, 60%);
  margin-left: 14px;
  letter-spacing: 3px;
  /*text-transform: uppercase;*/
  font-size: 18px;
  font-weight: 900;

  transition: .3s;
}

.rad-input:checked~.rad-text {
  color: hsl(0, 0%, 40%);
}


/* ABS */
/* ====================================================== */
.abs-site-link {
  position: fixed;
  bottom: 40px;
  left: 20px;
  color: hsla(0, 0%, 0%, .5);
  font-size: 16px;
}