/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

/* general */
/* BRYANT 2 FONT SPECS
URL: https://fonts.adobe.com/fonts/bryant-2

Regular
font-family: bryant-web, sans-serif;
font-weight: 400;
font-style: normal;

Bold
font-family: bryant-web, sans-serif;
font-weight: 700;
font-style: normal;

Italic
font-family: bryant-web, sans-serif;
font-weight: 400;
font-style: italic;

Bold Italic
font-family: bryant-web, sans-serif;
font-weight: 700;
font-style: italic;

Regular Alternate
font-family: bryant-web-alternate, sans-serif;
font-weight: 400;
font-style: normal;

Bold Alternate
font-family: bryant-web-alternate, sans-serif;
font-weight: 700;
font-style: normal; */
/* BRYANT ALTERNATE */
@font-face {
  font-family: 'bippo';
  src: url('assets/fonts/webfontkit/bippo.woff2') format('woff2'),
       url('assets/fonts/webfontkit/bippo.woff1') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  height: -webkit-fill-available;
  overflow: scroll;
  scrollbar-width: none;  /* hides scrollbar for Firefox */
}
::-webkit-scrollbar {   /* hides scrollbar for Chrome, Opera, Safari */
  display: none;
}

* {
  font-family: 'Varela Round', sans-serif;
  /* font-size: 1.5rem; */
  font-weight: 600;
  color: #323232;
  transition-property: filter, opacity;
  transition-duration: .5s;
}

body {
  padding: 0;
  margin: 0;
  max-height: -webkit-fill-available;
}

header {
  padding: 8px;
  text-align: center;
  font-size: 2rem;
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
  grid-column: 1;
  grid-row: 1;
  margin: 0;
  vertical-align: middle;
}
.header-image {
  width: 200px;
  grid-column: 2;
  margin: auto
}
.header-sides {
  max-width: 330px;
  width: 52px;
  padding: 8px;
}
.social-icon {
  width: 36px;
  margin: 8px;
  vertical-align: middle;
}
.app-icon {
  vertical-align: middle;
  width: 48px;
  margin: 4px;
}

.main {
  height: 101vh;
  width: 100%;
  
  display: grid;
  position: absolute;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto auto;
}

.footer { 
  font-size: 1rem;
  text-align: center;
  position: absolute;
  top: 99%;
  width: 100%;
  line-height: 2rem;
  margin: 0;
  overflow: hidden;
  
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.footer > img {
  position: absolute;
  object-fit: fill;
  filter: blur(6px);
  z-index: -1;
  background-color: rgba(156, 156, 156, 0.4);
}
.footer > div > span {
  margin: 0;
  padding: 0 2rem 0 2rem;
}

.text {
  /* width: 100%; */
  justify-content: center;
  text-align: center;
  display : block;
  margin: auto;
  font-size: 2.5rem;
  z-index: 1;
}
.branded { font-family: bippo; }
.writing {
  margin: 2rem 10% 2rem 10%;
}

h1 {
  font-size: 3.5rem;
  margin: 0;
}
h2 {
  font-size: 2.5rem;
  padding: 8px;
}
p {
  font-size: 1.5rem;
}

button {
  align-items: center;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  background-color: rgba(156, 156, 156, 0.4);

  padding: 10px;
  margin: 10px;
  border-width: 0;

  font-size: 2.5rem;
}
button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

/* hiding, disabling, deleting */
.visible {
  pointer-events: auto;
  opacity: 1;
}
.hidden {
  pointer-events: none;
  opacity: 0;
}
.disabled { pointer-events: none; }
.gone {
  display: none;
  pointer-events: none; 
}

/*---------------------- grinder.html ---------------------*/
#video {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -2;
}

/* bottom */
.btn-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 8px;

  padding: 8px;
  margin: auto auto 0px auto;
}
.btn-container > button {
  width: 250px;
  font-size: 2rem;
  margin: 0;
  background-color: rgb(254, 235, 202);
}
.pre-order {
  margin: auto auto 8px auto;
  padding: 8px;
}

.back-blur {
  backdrop-filter: blur(6px);
  background-color: rgba(254, 235, 202, 0.4);
  border-radius: 60px;
  /* box-shadow: 0 0 5px 5px rgba(156, 156, 156, 0.4); */
}


/* AR */
ar-button:before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38' height='38' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3'%3E%3C/path%3E%3C/svg%3E");
  display: block;
  margin-right: 0.3rem;
}

.age-container {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  font-size: 3rem;
  flex-wrap: wrap;
}
.age-container > button {
  width: 93.5px;
  font-size: 3.5rem;
}

.popup {
  filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.8);
  z-index: -1;
}

.qrCode {
  width: 360px;
  height: 360px;
  z-index: 10;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ar-desktop-btn { visibility: hidden; }

#appQRIcon { display: none; }
#appButton { display: initial; }

/* computer */
@media only screen and (min-width: 650px) {
  /* AR */
  ar-button:before {
    pointer-events: none;
  }
  .ar-desktop-btn {
    visibility: visible;
  }

  .header-sides {
    width: auto;
  }
  .social-icon {
    width: 48px;
    margin: 8px;
    vertical-align: middle;
  }
  .app-icon {
    vertical-align: middle;
    width: 56px;
    margin: 4px;
  }

  /* APP */
  #appButton { display: none; }
  #appQRIcon { display: initial; }
  
  /* BOTTOM BUTTONS */
  .btn-container {
    line-height: 2.5rem;
  }
  .btn-container > button {
    font-size: 4rem;
    width: 400px;
  }
}


/* UNUSED */
#bgButton {
  z-index: 20;
}

.contact {
  width: auto;
  font-size: 3rem;
  padding: 30px;
  vertical-align: middle;
  text-align: center;
}