@font-face {
  font-family: 'bippo';
  src: url('assets/fonts/webfontkit/bippo.woff2') format('woff2'),
       url('assets/fonts/webfontkit/bippo.woff1') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  height: -webkit-fill-available;
  overflow: scroll;
  scrollbar-width: none;  /* hides scrollbar for Firefox */
}
::-webkit-scrollbar {   /* hides scrollbar for Chrome, Opera, Safari */
  display: none;
}

* {
  font-family: 'Varela Round', sans-serif;
  /* font-size: 1.5rem; */
  font-weight: 600;
  color: #323232;
  transition-property: filter, opacity;
  transition-duration: .5s;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  height: 100vh;
}

canvas {
  width: 100%;
  height: 100vh;
}

#c {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}